*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
    text-align: center;
}

label,
input,
button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
}

input,
button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
}

button {
    background-color: #0073ea;
    color: white;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: #006de1;
}

button:active {
    box-shadow: inset 2px 2px 5px #004d9f, inset -5px -5px 10px #0058b2;
}

input:focus {
    outline: none;
    border-color: #004d9f;
    box-shadow: 0 0 2px #004d9f;
}

.order_info_section {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#order_error {
    color: #800202;
    text-align: center;
    font-size: 20px;
}
